:root {
    --black: #222323;
    --light-text: rgb(255, 255, 255);
    --lightbrown:#BC9A6C;
    --darkbrown:#1E1E1E;

}

* {
    box-sizing: border-box;
}


body {
    background-color: var(--black);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--light-text);
}

/* bootstrap */
.bootstrap-container {
    background-color: #BC9A6C;
     }
   

.intro{
    grid-column: 1 / -1;
    text-align: center;
}

/* -----------------------------------------Hero---------------------- */
/* bacgrounf open screen */
.backgroundColor{
    background-color:var(--darkbrown);
    clip-path:  polygon(0 0, 100% 0, 100% 85%, 85% 100%, 15% 100%, 0 85%);
    ; 
}


/* HERO SECTION */
.hero {
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center;
    align-content:center;
 
}

.hero .flex-center {
    grid-column: span 4;
    height: 90vh;
}



/* -------fonts------ */
        
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
   color:var(--lightbrown);
    font-size: 2.2rem;
}

.strongerh3{
  font-family: "Urbanist", sans-serif;
font-size: 1.2rem;
}

h2{
    font-size: 1.75rem;
   
}




h1, h2{
    /* external font */
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
}


p {
    line-height: 1.5;
    font-size: 1rem;
}




.text-card p {
    margin-top: 0.5rem;
}



/*----- images----- */
img {
    width: 100%;
}

svg{
    color: var(--light-text);
}



.imgHero{   clip-path:  polygon(0 0, 100% 0, 100% 71%, 85% 100%, 15% 100%, 0 71%);
    height: auto;
}


/* CTA section */
.cta img {
    height: 50vh;
    object-fit: cover;
}

img, svg {
    vertical-align:0%;
}




/*----- buttons---- */

button {
   
    border-radius: 5px;
    margin-top: 1rem;
    
}


.btn_brown{
    margin-right: 1rem;
    background-color: var(--lightbrown);
    padding: 2% 6%;
    border: 2px solid var(--lightbrown);
    border-radius: 2px;
}

.btn_light{
    background-color: transparent;
    padding: 2% 6%;
    color:  var(--lightbrown);
    border: 2px solid var(--lightbrown);
}



/* ---generals */

.grid-item{
    margin: 2% 0;
}


section {
    padding: 2rem 0;
}



/* Text Cards */
.text-card {
    color: var(--light-text);
    padding: 12% 10%;
}


/* -----GRID ----*/

.grid {
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}


/* 2 COLUMN SECTIONS */
.two-col .grid-item {
    grid-column: 1 / -1;
}


/* 2 COLUMN SECTIONS */
.three-col .grid-item {
    grid-column: 1 / -1;
    justify-items: center;
}


/* 4 COLUMN SECTIONS */
.four-col .grid-item {
    grid-column: auto / span 4;
}

#menuItems{
    width:100%;
 margin: 0 auto;
 margin-left: 2%;
margin: 0%;

}





 /* gallary */
 .grid .gallary-images {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    max-width: 100%;
    gap: 1rem;
    padding: 0;
}


 .main__feat-image {
    grid-column: 1/-1;
    grid-row: auto/span 2;

} 


.thumb__image {
    grid-column: 1/-1;
  
} 


.thumb__image img,
.main__feat-image img {
    object-fit:cover;

}



/* Posts */
.posts__title {
    grid-column: auto / span 12;
    text-align: center;
}

.posts__preview {
    grid-column: auto / span 12;
    align-items: center;
}

.posts__image {
    grid-column: auto / span 4;
}

.posts__preview .posts__content h4 {
    margin-bottom: 0.125rem;
}


.posts__image img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.5rem;
}

.posts__content {
    grid-column: auto / span 8;
}

/* #pathtest{
   
        clip-path: path(M705,509.5c-51.72,0-99.63-22.36-128.18-59.82l-0.27-0.35l-0.38,0.23c-17.61,10.43-37.72,15.94-58.17,15.94 c-64.24,0-116.5-53.61-116.5-119.5S453.76,226.5,518,226.5c35.81,0,69.12,16.54,91.38,45.38l0.29,0.37l0.39-0.27
        c27.29-18.64,60.12-28.49,94.94-28.49c84.64,0,153.5,59.66,153.5,133C858.5,449.84,789.64,509.5,705,509.5zz);
    
} */


@media screen and (min-width: 834px) {
  
        
      h1{
        font-size: 3rem;
      }
        
     
    .imgHero {
        clip-path: none; 
    }
        
        
    section {
        padding: 3.5rem 0;
    }
    


    /* GRID */
    
    
    /* 2 COLUMN SECTIONS */
    .two-col .grid-item {
        grid-column: auto / span 6;   
    }


        /* 2 COLUMN SECTIONS */
    .three-col .grid-item {
    grid-column: auto / 4 span;
    }
        
 

     /* 4-column Section */
    .four-col-text {
    grid-column: auto / span 4;
    display:grid;
    }



    #menuItems{
    grid-column: auto / span 8;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;

    }

    #menuItems .grid-item{
    grid-column: auto / span 4;
    }

    
    /* gallary */
.grid  {
    display: grid;
    width: 768px;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: 0;
    margin-top: 5rem;
}


/* 4 COLUMN SECTIONS */
.four-col .grid-item {
    grid-column: auto / span 3;
}

.main__feat-image {
    grid-column: auto/span 6;
    grid-row: auto/span 2;
    border-radius: 8px;
}


.thumb__image {
    grid-column: auto/span 3;
    border-radius: 8px;
}




.btn_brown:hover, .btn_light:hover{
    box-shadow: 0px 0px 150px var(--black);

}




.posts__loop {
    margin-top: 3rem;
}

.posts__loop .grid {
    row-gap: 3rem;
}

/* target all elements with the class posts__preview which are NOT the first in the container */
.posts__preview:not(:first-child) {
    grid-column: auto / span 6;
}

.posts__image,
.posts__content {
    grid-column: auto / span 5;
}

.posts__image img {
    aspect-ratio: 4/3;
}

.posts__preview:first-child .posts__image {
    grid-column: auto / span 5;
}

.posts__preview:first-child .posts__content {
    grid-column: auto / span 6;
}

/* Footer */
.site-footer {
    padding: 2rem 0;
}

.site-footer .flex {
    justify-content: space-between;
    align-items: center;
}

.site-footer__logo,
.site-footer__contact {
    flex-basis: auto;
}

















}



    @media screen and (min-width: 1440px) { 


    .grid {
        grid-template-columns: repeat(12, 1fr);
        gap: 1.25rem;
       width: 1280px;
        
    }



    #menuItems{
        grid-column: auto / span 8;
        max-width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;

    }


    #menuItems .grid-item{
        grid-column: auto / span 4;

    }



     /* Posts */
     .posts__loop .grid {
        gap: 1rem;
    }

    .posts__preview,
    .posts__preview:not(:first-child) {
        grid-column: auto / span 4;
    }

    .posts__image,
    .posts__content,
    .posts__preview:first-child .posts__image,
    .posts__preview:first-child .posts__content {
        grid-column: auto / span 12;
    }

    }
  




    


